/* FOOTER */

@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@500&display=swap');


* {
  font-family: 'Stick No Bills', sans-serif;
  font-size: 16pt;
}

.footer-distributed{
    background: #172212;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
  width: 40%;
}

/* The company logo */

.footer-distributed h3{
  color:  #ffffff;
  font: normal 36px 'Open Sans', cursive;
  margin: 0;
}

.footer-distributed h3 span{
  color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  font-weight:400;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-company-name{
  color: white;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
  width: 35%;
}

.footer-distributed .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p{
  display: inline-block;
  color: #ffffff;
  font-weight:400;
  vertical-align: middle;
  margin:0;
}

.footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}

.footer-distributed .footer-center p a{
  color:  lightseagreen;
  text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
  width: 20%;
}

.footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons{
  margin-top: 25px;
}

.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

  .footer-distributed{
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i{
    margin-left: 0;
  }

}


.table {
    color: white;
    font-family: 'Stick No Bills', sans-serif;
}

.navbar {
    background-color: white;
}

.servicios {
    background-color: rgb(234, 234, 234);
}

.servicios p {
    color: black;
    font-family: 'Stick No Bills', sans-serif;
}

.navbar-nav {
    font-weight: bold;
    font-family: 'Stick No Bills', sans-serif;
}

.navbar-nav a:hover {
    color: #648c28;
}

video {
    width: 100%;
}

body, html {
    height: 100%;
    background-repeat: no-repeat;
    background: url(./img/post.jpg) no-repeat center fixed;
}

.contacto h1, p{
    color: white;
    font-family: 'Stick No Bills', sans-serif;
}

.conocenos {
    color: white;
    font-family: 'Stick No Bills', sans-serif;
    opacity: 0;
    transition: opacity 1.5s ease-out;
}

.conocenos.appear {
  opacity: 1;
}

.encabezado {
    background-color: #2a3824;
    color: white;
    font-weight: bold;
    font-family: 'Stick No Bills', sans-serif;
}

.encabezado a {
    text-decoration: none;
    color: white;
    font-family: 'Stick No Bills', sans-serif;
}

.encabezado a:hover {
    color: white;
}


.servicios a {
    text-decoration: none;
    color: white;
    font-family: 'Stick No Bills', sans-serif;
}

.servicios a:hover {
    color: white;
}

.clientes {
  background-color: white;
}


.clientes img {
  margin: 50px;
  margin-left: 280px;
}

#btn-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  padding: 10px 20px;
  border-radius: 50%;
  background-color: #007bff;
  color: #fff;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
  text-decoration: none;
  text-align: center;
  font-size: 18px;
}

#btn-to-top:hover {
  background-color: #0056b3;
}

.servicios {
  opacity: 0;
  transition: opacity 1.8s ease-out;
}

.servicios.appear {
  opacity: 1;
}

.contacto {
  opacity: 0;
  transition: opacity 1.8s ease-out;
}

.contacto.appear {
  opacity: 1;
}

.col:hover {
  transition: all 300ms;
  transform: scale(1.12);
}

.email {
  font-size: 17px;
}

.bi-telephone {
  font-size: 17px;
}

.carrusel {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 300px; /* Ajusta la altura según tus necesidades */
}

.carrusel-contenedor {
  position: absolute;
  width: 250%; /* Ajusta el ancho según la cantidad de imágenes */
  animation: slide 12s linear infinite;
}

.carrusel img {
  width: 5%; /* Ajusta el ancho según la cantidad de imágenes */
  height: 100%;
  object-fit: cover;
}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-75%); /* Ajusta el porcentaje según la cantidad de imágenes */
  }
}
